.mainsection{
    margin-top: 10%;
    display:flex ;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container{
    

width: 30%;
padding: 20px 30px;
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border: 1px solid rgb(155, 155, 155);
box-shadow: 5px 5px 5px rgb(141, 141, 141);

}
.form{
    color: black;
   padding: 20px 20px; 
   border-radius: 5px;
   width: 100%;
}